# SPDX-License-Identifier: GPL-2.0-only
#
config RV_MON_THROTTLE
	depends on RV
	depends on HAVE_SYSCALL_TRACEPOINTS
	depends on RV_MON_DEADLINE
	default y
	select HA_MON_EVENTS_ID
	bool "throttle monitor"
	help
	  Monitor to ensure dl entities are throttled when they use up their runtime.
	  This monitor is part of the deadline monitors collection.

	  For further information, see:
	    Documentation/trace/rv/monitor_deadline.rst
