# SPDX-License-Identifier: GPL-2.0-only
#
config RV_MON_BOOST
	depends on RV
	depends on RV_MON_DEADLINE
	default y
	select HA_MON_EVENTS_ID
	bool "boost monitor"
	help
	  Monitor to ensure tasks associated to a server (e.g. fair tasks) run
	  either independently or boosted in a timely manner.
	  This monitor is part of the deadline monitors collection.

	  For further information, see:
	    Documentation/trace/rv/monitor_deadline.rst
